html {
  overflow-y: hidden;
}

body {
  margin: 0;
  padding: 29px00;
  font: 14px"\5FAE\8F6F\96C5\9ED1", sans-serif;
  background: #ffffff;
}
/*div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,blockquote,p{padding:0; margin:0;}*/

table,
td,
tr,
th {
  font-size: 14px;
}

li {
  list-style-type: none;
}

img {
  vertical-align: top;
  border: 0;
}

ol,
ul {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 12px;
  font-weight: normal;
}

address,
cite,
code,
em,
th {
  font-weight: normal;
  font-style: normal;
}
.icon {
  width: 2rem;
  height: 2rem;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
  color: rgba(246, 246, 246, 0.8);
}

html{font-family: "微软雅黑";font-size:10px}
@media screen and (min-width:321px) and (max-width:375px){html{font-size:11px}}
@media screen and (min-width:376px) and (max-width:414px){html{font-size:12px}}
@media screen and (min-width:415px) and (max-width:639px){html{font-size:15px}}
@media screen and (min-width:640px) and (max-width:719px){html{font-size:16px}}
@media screen and (min-width:720px) and (max-width:749px){html{font-size:16px}}
@media screen and (min-width:750px) and (max-width:799px){html{font-size:16px}}
@media screen and (min-width:800px){html{font-size:16px}}

.section1 {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  color: rgb(246, 246, 246);
  font-size: 5rem;
  position: relative;
}

.section1 #menu a {
  text-decoration: none;
  color: rgb(246, 246, 246);
  -webkit-transition: color .5s;
}

.section1 #menu a:hover {
  color: rgba(6, 17, 33, 0.39);
}

.wellcome {
  position: relative;
  text-shadow: 3px 3px rgb(204, 213, 213);
  font-weight: bold;
}
.down{
  position: absolute;
  bottom: .2rem;

}
#menu{
  margin: 0;
  padding: 0;
}
.glyphicon-chevron-down {
  font-size: 3rem;
}

.glyphicon-chevron-down {
  display: none;
}

.glyphicon-chevron-down:hover {
  cursor: pointer;
}

.section2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100%;
  width: 100%;
  position: relative;
}

.section2 img {
  border: 0.5rem solid gray;
   width: 40%;
   height: auto;
   max-width: 40%;
   display: block;
  -webkit-transition: -webkit-transform 1s;
}

.section2 img:hover {
  background: rgba(32, 35, 36, 0.35);
  cursor: pointer;
  -webkit-transform: rotate(360deg);
}

.section2 .produce {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
}

.section3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100%;
  width: 100%;
  color: rgb(246, 246, 246);
}
.section2 .navbar, .section3 .navbar, .section4 .navbar, .section5 .navbar {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  font-weight: bold;
}
.empty{
  width: 100%;
  height: 5rem;
}
.section3 h1 {
  font-size: 5rem;
  color: rgb(246, 246, 246);
}

.tag-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 5px;
}

.tag {
  margin: 5px;
  padding: 5px;
  border-radius: 3px;
}

.tag:hover {
  cursor: default;
}

.opa {
  opacity: .7;
}

.section4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: rgb(246, 246, 246);
}

.section4 h1 {
  font-size: 3rem;
  text-shadow: 3px 3px rgb(204, 213, 213);
  font-weight: bold;
}

.progress-striped {
  padding: 0;
  height: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  top: 1rem;
}

.progress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: opacity .5s, border .5s;
}

.progress:hover {
  opacity: .8;
  border: .2rem solid gray;
}

.section4 .progration {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 3rem;
}

.section4 .label-primary, .section4 .label-warning, .section4 .label-info, .section4 .label-success {
  height: 1.8rem;
  width: 1.8rem;
  border-radius: 50%;
  position: relative;
  z-index: 1000;
  top: .4rem;
  -webkit-transition: border-radius .5s;
  border: .35rem solid rgba(60, 83, 93, 0.66);
}

.section4 .label-primary:hover, .section4 .label-warning:hover, .section4 .label-info:hover, .section4 .label-success:hover {
  border-radius: .4rem;
}

.section4 .glyphicon-exclamation-sign {
  color: rgba(35, 46, 65, 0.7);
  font-size: 2.5rem;
  position: relative;
  top: .23rem;
}

.section4 .text {
  width: 70%;
}

.section4 h1 {
  margin-bottom: 2rem;
}

.section4 .text .tag {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: .5rem;
  width: 6.5rem;
}

.section4 .text .place {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  /*font-size: 1.2rem;*/
  -webkit-transition: border-radius .5s;
}

.section4 .school {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: .5rem;
  width: 15rem;
  border: .1rem solid rgba(37, 41, 52, 0.7);
}

.section4 .company {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: .5rem;
  width: 24rem;
  border: .1rem solid rgba(37, 41, 52, 0.7);
}

.section4 .now {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: .5rem;
  width: 10rem;
  border: .1rem solid rgba(37, 41, 52, 0.7);
}

.section5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.section2 h1, .section5 h1 {
  font-size: 4rem;
  font-weight: bold;
  color: rgb(246, 246, 246);
  text-shadow: 3px 3px rgb(204, 213, 213);
}

.section2 h2, .section5 h2 {
  font-size: 2.5rem;
  font-weight: bold;
  color: rgb(246, 246, 246);
}

.section2 h2 a, .section5 h2 a {
  text-decoration: none;
  color: rgba(6, 17, 33, 0.39);
  font-size: 2rem;
  -webkit-transition: color .3s;
}

.section2 .email a, .section5 .email a {
  text-decoration: none;
  color: rgba(6, 17, 33, 0.39);
  font-size: 1.2rem;
  font-weight: bold;
  -webkit-transition: color .3s;
}

.section2 a:hover, .section5 a:hover {
  color: rgb(143, 250, 32);
}

.section2 .email, .section5 .email {
  opacity: .7;
  color: rgb(246, 246, 246);
  font-weight: normal;
  font-size: 1.4rem;
}

.section2 .resume, .section5 .resume {
  color: rgb(143, 250, 32);
  -webkit-transition: color .3s;
}

.section2 .resume:hover, .section5 .resume:hover {
  color: rgba(6, 17, 33, 0.39);
}

.section2 .social-panel, .section5 .social-panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section2 .social-panel div, .section5 .social-panel div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: rgba(6, 17, 33, 0.39);
  border-radius: 50%;
  -webkit-transition: border-radius .3s;
  width: 2.5rem;
  height: 2.5rem;
  margin: .3rem;
}

.section2 .social-panel div:hover, .section5 .social-panel div:hover {
  border-radius: .5rem;
  background: rgba(6, 17, 33, 0.6);
}

.section2 .undeline, .section5 .undeline {
  text-decoration: none;
}
